@page "/counter"
@rendermode InteractiveAuto
@inject I18nText I18nText

<PageTitle>@_T.Counter</PageTitle>

<h1>@_T.Counter</h1>

<p role="status">@_T.CurrentCount: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@_T.ClickMe</button>

<p class="mt-4">
    (OperatingSystem.IsBrowser(): @OperatingSystem.IsBrowser())
</p>

@code {
    private int currentCount = 0;

    private CounterText _T = new();

    protected override async Task OnInitializedAsync()
    {
        _T = await this.I18nText.GetTextTableAsync<CounterText>(this);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
