@page "/weather"
@attribute [StreamRendering]
@inject I18nText I18nText

<PageTitle>@_T.Weather</PageTitle>

<h1>@_T.Weather</h1>

<p>@_T.Weather_Description</p>

@if (forecasts == null)
{
    <p><em>@_T.Loading</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@_T.Date</th>
                <th>@_T.TempC</th>
                <th>@_T.TempF</th>
                <th>@_T.Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@_T[forecast.Summary]</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    private FetchDataText _T = new();

    protected override async Task OnInitializedAsync()
    {
        _T = await I18nText.GetTextTableAsync<FetchDataText>(this);
        StateHasChanged();

        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(1500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
