@inherits LayoutComponentBase
@using System.Runtime.InteropServices
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">@Text.About</a>
        </div>

        <div class="content px-4">
            @Body
	        <div class="footer">
	            <div class="form-row align-items-center text-muted px-4">
	                <div class="col runtime-information">@RuntimeInformation.FrameworkDescription / @RuntimeInformation.ProcessArchitecture</div>
	                <div class="col-auto">
	                    <span class="oi oi-globe" aria-hidden="true"></span>
	                </div>
	                <div class="col-auto">
	                    <select class="form-control form-control-sm" @onchange="OnChangeCurrentLang">
	                        <option value="en" selected="@(CurrentLang == "en")">English</option>
	                        <option value="ja" selected="@(CurrentLang == "ja")">日本語</option>
	                    </select>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>

@code {

    private string? CurrentLang;

    private Text Text = new Text();

    protected override async Task OnInitializedAsync()
    {
        var lang = await I18nText.GetCurrentLanguageAsync();
        if (new[] { "en", "ja" }.Contains(lang.Split('-')[0]))
        {
            CurrentLang = lang;
        }
        else
        {
            CurrentLang = "en";
        }

        Text = await I18nText.GetTextTableAsync<Text>(this);
        I18nText.ChangeLanguage += (s, a) =>
        {
            Console.WriteLine($"Language Changed: {a.LanguageCode}");
        };
    }

    private async Task OnChangeCurrentLang(ChangeEventArgs args)
    {
        Console.WriteLine($"OnChange: {args.Value}");
        CurrentLang = args.Value as string;
        await I18nText.SetCurrentLanguageAsync(CurrentLang ?? "en");
    }
}